body {
  background-color: #dddddd;
}
h5 {
  color: grey;
  margin-bottom: 15px;
}
.box {
  width: 700px;
  height: 400px;
  background-color: white;
  padding: 80px;
  margin: 100px auto;
}

.left {
  text-align: right;
}
.accessories {
  width: 100%;
}
.btn {
  margin-top: 20px;
}
